In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import f1_score
from sklearn.metrics import plot_confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')

heart_data = pd.read_csv('./train.csv')
heart_test = pd.read_csv('./test.csv')

In [2]:
heart_data.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,53,1,2,130,197,1,0,152,0,1.2,0,0,2,1
1,2,52,1,3,152,298,1,1,178,0,1.2,1,0,3,1
2,3,54,1,1,192,283,0,0,195,0,0.0,2,1,3,0
3,4,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1
4,5,35,1,1,122,192,0,1,174,0,0.0,2,0,2,1

In [3]:
heart_test.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,1,57,1,0,150,276,0,0,112,1,0.6,1,1,1
1,2,59,1,3,170,288,0,0,159,0,0.2,1,0,3
2,3,57,1,2,150,126,1,1,173,0,0.2,2,1,3
3,4,56,0,0,134,409,0,0,150,1,1.9,1,2,3
4,5,71,0,2,110,265,1,0,130,0,0.0,2,1,2

In [5]:
X_train = heart_data.iloc[:,1:-1]
y_train = heart_data.iloc[:,-1]

In [6]:
X_test = heart_test.iloc[:,1:]

In [10]:
from sklearn.metrics import accuracy_score
logistic_regression_model = LogisticRegression()

logistic_regression_model.fit(X_train, y_train)

test_preds = logistic_regression_model.predict(X_test)

In [11]:
submission = pd.read_csv('./sample_submission.csv')
submission['target'] = test_preds

submission.to_csv('baseline.csv',index = False)

In [12]:
# 1. 데이터 가공, StandardScaler 진행한 후 test data 만들어서 설계 진행
idx_nm_1 = heart_data[heart_data['restecg']==2].index
idx_nm_2 = heart_data[heart_data['thal']<1].index
heart_df = heart_data.drop(idx_nm_1)
heart_df = heart_data.drop(idx_nm_2)

In [13]:
# StandardScaler 진행
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(heart_df)
heart_scaled = scaler.transform(heart_df)
heart_df_scaled = pd.DataFrame(data = heart_scaled, columns = heart_df.columns)
heart_df_scaled.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,-1.715478,-0.169217,0.675508,0.892316,-0.115040,-0.847848,2.291288,-1.000675,0.048674,-0.696526,0.200053,-2.151913,-0.662471,-0.581238,0.910642
1,-1.692495,-0.281530,0.675508,1.841588,1.113538,0.946633,2.291288,0.948692,1.165309,-0.696526,0.200053,-0.584986,-0.662471,1.162476,0.910642
2,-1.669511,-0.056905,0.675508,-0.056956,3.347317,0.680126,-0.436436,-1.000675,1.895417,-0.696526,-0.907933,0.981941,0.429514,1.162476,-1.098127
3,-1.646528,-1.067716,-1.480368,-1.006228,0.331716,-0.154929,-0.436436,-1.000675,0.048674,1.435697,-0.723269,-0.584986,-0.662471,-0.581238,0.910642
4,-1.623545,-2.190839,0.675508,-0.056956,-0.561795,-0.936683,-0.436436,0.948692,0.993519,-0.696526,-0.907933,0.981941,-0.662471,-0.581238,0.910642

In [14]:
X_train = heart_df_scaled.iloc[:, 1:-1] # id와 target을 제거
y_train = heart_df.iloc[:, -1]

In [15]:
# 다시 Logistic Regession 수행하고, 처음해서 logistic으로 돌려보자.
logistic_regression_model = LogisticRegression()

logistic_regression_model.fit(X_train, y_train)

logistic_preds = logistic_regression_model.predict(X_test)
submission = pd.read_csv('./sample_submission.csv')
submission['target'] = test_preds

submission.to_csv('logistic_regression_1.csv',index = False)